<div id="is">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 centered">
        <h1 style="color:black">DEL ARBOL A LA PUERTA DE TU CASA</h1>
        <p><span id="mensaje">Gracias por Subscribirte!, solo falta que hagas click en el link que hemos enviado a tu correo, para confirmar tu subscripcion <br>
        <br>
         Muy pronto estaras disfrutanto de las mejores naranjas de colombia en la puerta de tu casa!</span></p>
       <button class="btn btn-lg btn-green mtb"><%= link_to "Volver", "/index.html", class: "link" %></button>
     </div>
      <div class="col-lg-6 col-md-6 centered">
        <img id="logo" src="/images/logo.png" height="600px" alt="">
      </div>
   </div><!--/row -->
 </div><!--/container -->
</div>